doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Books Page
    script(src="https://cdn.tailwindcss.com")
  body
    div.min-h-screen.flex.items-center.justify-center.bg-gray-100
        div.bg-white.p-8.shadow-md.rounded-md.w-96
            p.text-2xl.font-semibold.text-center.mb-4 ADD A BOOK
            form(action="/books/addBook", method="POST").mb-4 
                div
                    label(class="block text-gray-600 font-semibold" for = "title") Title:
                    input(name = "title" class="mt-1 px-4 py-2 border rounded-md w-full focus:ring focus:ring-indigo-300" required)
                br
                div
                    label(class="block text-gray-600 font-semibold" for = "author") Author:
                    input(name = "author" class="mt-1 px-4 py-2 border rounded-md w-full focus:ring focus:ring-indigo-300" required)
                br
                button(type = "submit" class="px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300") Add
        .bg-white.p-8.shadow-md.rounded-md.w-96.ml-10
            h2.text-2xl.font-semibold.text-center.mb-4 List of Books
            -if (books)
                ul
                each book in books
                    li(class="mb-2")
                    span(class="font-semibold") Title:
                    |  #{book.title}
                    br
                    span(class="font-semibold") Author:
                    |  #{book.author}
